body {
  font-size: 0.9rem;
}
// HOMEPAGE

.exhibition-title-word {
  //font-size: 11rem;
}

.cross-icon {
  width: 23.5%;
}

header li {
  margin-left: 1rem;
}

.grid-item {
  width:33.333%;padding-bottom:33.333%;
}
// INDEX

#exhibition {
  .col3 {
    width: 32%;
  }

  .offset3 {
    margin-left: 2%;
  }
}

// EXHIBITION
#exhibition .credit {
  font-size: 0.792rem;
}
