$dark: #1b1b1b;
$light: #aaa;
$grey: #AAAAAA;
// stabilo blue original highlight
$highlight: #fff166;
// $highlight: #0071cf;
// $highlight: #8fc3f5;
// $highlight: #4a77b3;
$secondary_highlight: #F51914;
//
